.App {
  text-align: left;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  border-width:medium;
  border:#afa0a0;
  background-color:darkslategray;
  font-size: larger;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align:justify;
  margin-left: 30;
}

.heading {
  text-align: center; 
}

.site-title {
    font-size: 2rem;
    text-align: right;
    align-items: center;
    display:block;
  }

.nav {
  background-color: #afa0a0;
  color: white;
  display:flexbox;
  justify-content:space-between;
  align-items:stretch;
  gap: 1rem;
  padding:0 1rem;
  list-style:lower-latin;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  text-align:center;

}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display:flex;
  align-items: center;
  padding: .25rem;

}

.nav ul {
padding: 0;
margin: 0;
list-style: none;
display: flex;
gap: 1rem;

}

.nav li.active {
  background-color: #555;
}


.nav li:hover {
  background-color: #777;
}

.container {
  margin: 1rem;
  text-align: center;
  
}



