.navbar {
  /* Add some margin-bottom to create space after the navbar */
  margin-bottom: 20px;
}

.navbar ul {
  /* Add some margin-top to create space between the navbar and its contents */
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin-right: 10px;
}

.navbar li:last-child {
  margin-right: 0;
}


.App {
  text-align: left;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  }

.logo.png {
  border-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  border: 1px solid blue;
  border-width:medium;
  background-color:rgb(33, 108, 133);
  font-size: larger;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align:justify;
  margin-left: 30;
}

.header {
  text-align: center; 
}

.site-title {
    font-size: 2rem;
    text-align: right;
    align-items: center;
    display:block;
  }

.nav {
  color: white;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  align-items:stretch;
  gap: 1rem;
  padding:0 1rem;
  list-style-type:none;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  text-align:center;

}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display:flex;
  align-items: center;
  padding: .25rem;

}

.nav ul {
padding: 0;
margin: 0;
list-style: none;
display: flex;
gap: 1rem;

}

.nav li.active {
  background-color:aqua;
}


.nav li:hover {
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }

 .content-wrapper {
  flex: 1;
}


.Home {
  
  margin:auto;
  text-align:left

}

 Footer {
  background-color: rgba(7, 90, 185, 0.514);
  text-align: left;
  margin-top: auto;
  padding: 8px;
}




